<!DOCTYPE html>
<html>

<head>

	<title>Area Stis</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		crossorigin=""></script>


	<style>
		html,
		body {
			height: 100%;
			margin: 0;
		}

		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>
		#map {
			width: 100vw;
			height: 100%;
		}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255, 255, 255, 0.8);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}

		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
	</style>
</head>

<body>

	<div id='map'>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<script type="text/javascript" src="asd.js"></script>

	<script type="text/javascript">
		var hargaAVG;
		var datashp;

		jQuery.extend({
			getValues: function (url) {
				var result = null;
				$.ajax({
					url: url,
					type: 'get',
					dataType: 'json',
					async: false,
					success: function (data) {
						result = data;
					}
				});
				return result;
			}
		});
		var results = $.getValues("api/Spasial/datalengkap");
		var datadikit = $.getValues("api/Spasial/datadikit");
		// datasig


		for (var i = 0; i < datadikit.message.length; i++) {
			var a = datadikit.message[i].nocluster
			for (var j = 0; j < datasig.features.length; j++) {
				if (datasig.features[j].properties.id == a) {
					datasig.features[j].properties.hargaAVG = JSON.parse(datadikit.message[i].hargaAVG);
				}
			}
		}

		// function getdata() {
		// 	$.ajax({
		// 		url: 'Spasial/datalengkap',
		// 		type: 'GET',
		// 		dataType: 'json',
		// 		success: function (data) {
		// 			datashp = data;
		// 			console.log(data);

		// 		},
		// 		error: function (request, error) {
		// 			console.log(error);
		// 		}
		// 	});
		// }

		// const userAction = async () => {
		// 	const response = await fetch('http://localhost/SigKelompok3/api/Spasial/datalengkap.json');
		// 	const myJson = await response.json(); //extract JSON from the http response
		// 	// do something with myJson
		// 	console.log(myJson);
		// }

		// console.log(userAction.myJson);

		// var datashp = fetch('Spasial/datalengkap').then(response => response.json());
		// .then(json => console.log(json))

		// getdata();

		var map = L.map('map').setView([-6.231196, 106.869858, 86888], 15.8);

		L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
}).addTo(map);


		// control untuk menampilkan data
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (properties) {
			this._div.innerHTML = '<h4>Rata-rata Harga Kosan/Kontrakan di Daerah STIS Tahun 2018</h4>' + (properties ?
				'<b>' + properties.Namawilaya + '</b><br /> ' + 'Rp ' + properties.hargaAVG
				: 'sorot daerah untuk mengetahui harga');
		};

		info.addTo(map);


		// memberikan warna saat provinsi di sorot atau di klik
		function getColor(w) {
			return w > 1100000 ? '#eaf61d' :
				w > 1000000 ? '#d4f41a' :
					w > 900000 ? '#c1f317' :
						w > 700000 ? '#96e511' :
							w > 600000 ? '#7cdd0d' :
								w > 500000 ? '#5ed408' :
										'#3bc903';
		}

		function style(feature) {
			return {
				weight: 3,
				opacity: 1,
				color: '#06f5e6',
				dashArray: '5',
				fillOpacity: 0.8,
				fillColor: getColor(feature.properties.hargaAVG)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#1180fc',
				dashArray: '',
				fillOpacity: 0.6
			});

			if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}


		geojson = L.geoJson(datasig, {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);

		map.attributionControl.addAttribution('Survei SIG 2019 &copy; <a href="http://stis.ac.id/">Sekolah Tinggi Ilmu Statistik</a>');


		var legend = L.control({ position: 'bottomright' });

		legend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				grades = [ , 500000, 600000, 700000, 900000, 1000000, 1100000],
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}

			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);

	</script>



</body>

</html>